<%= form_with(model: measurement) do |form| %>
  <% if measurement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(measurement.errors.count, "error") %> prohibited this measurement from being saved:</h2>

      <ul>
        <% measurement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :weight, style: "display: block" %>
    <%= form.text_field :weight %>
  </div>

  <div>
    <%= form.label :when, style: "display: block" %>
    <%= form.datetime_field :when %>
  </div>

  <div>
    <%= form.submit class: [ :button, :'is-primary' ] %>
  </div>
<% end %>
